#test {
    font-weight: thin;
    font-size: 40px;
    color: rgb(80, 146, 36);
}
.nowrap{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap !important;    
}
